Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

chore(deps): update dependency @types/jest to v24.0.16
  package-lock.json
  package.json
Due: none

fix(deps): update dependency webpack-bundle-analyzer to v3.4.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency module-alias to v2.2.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/node to v10.14.14
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.24
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.17.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/jest to v24.0.17
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.17.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/react to v16.8.25
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.14.15
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jsonwebtoken to v8.3.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update react monorepo to v16.9.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/next to v8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update postgres docker tag to v10.11
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

chore(deps): update apollo graphql packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update cypress orb to v1.13.0
  .circleci/config.yml
Due: none

chore(deps): update dependency @types/express to v4.17.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/faker to v4.1.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jest to v24.0.23
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jsonwebtoken to v8.3.5
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/node to v10.17.9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.9.16
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react-dom to v16.9.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/recompose to v0.30.7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/yup to v0.26.26
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency cross-env to v5.2.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency cypress to v3.8.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency dotenv to v8.2.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency eslint-plugin-prettier to v3.1.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jest to v24.9.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lerna to v3.19.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency module-alias to v2.2.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency nodemon to v1.19.4
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency eslint to v6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/faker to v4.1.9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jest to v24.9.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jsonwebtoken to v8.3.7
  packages/api/package-lock.json
  packages/api/package.json
Due: api
