Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

chore(deps): update dependency lerna to v3.13.1
  package-lock.json
  package.json
Due: none

fix(deps): update dependency webpack-bundle-analyzer to v3.1.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update prismagraphql/prisma docker tag to v1.28
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

fix(deps): update apollo graphql packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency apollo to v2.6.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency react-apollo to v2.5.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update react monorepo to v16.8.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint to v5.15.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jsonwebtoken to v8.3.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/node to v10.12.30
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency ts-node to v8.0.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest to v24.3.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jest-dom to v3.1.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24.0.11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jsonwebtoken to v8.3.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest to v24.5.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v10.14.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/yup to v0.26.12
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency react-testing-library to v6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency dotenv to v7
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency apollo to v2.6.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency cypress to v3.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency yup to v0.27.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update prisma to v1.28.5
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency eslint to v5.15.2
  package-lock.json
  package.json
Due: none

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
