Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

Update dependency @types/jest to v26.0.5
  package-lock.json
  package.json
Due: none

Update dependency @apollo/react-ssr to v4.0.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update codecov orb to v1.1.1
  .circleci/config.yml
Due: none

Update dependency cypress to v4.11.0
  package-lock.json
  package.json
Due: none

Update cypress orb to v1.25.1
  .circleci/config.yml
Due: none

Update dependency @types/jest to v26.0.6
  package-lock.json
  package.json
Due: none

Update dependency @types/node to v10.17.28
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v26.0.7
  package-lock.json
  package.json
Due: none

Update dependency yup to v0.29.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency ts-jest to v26.1.4
  package-lock.json
  package.json
Due: none

Update dependency @apollo/client to v3.1.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency jest to v26.2.1
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v26.0.8
  package-lock.json
  package.json
Due: none

Update dependency jest to v26.2.2
  package-lock.json
  package.json
Due: none

Update prismagraphql/prisma Docker tag to v1.34
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

Update dependency @types/react to v16.9.44
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency eslint to v7.6.0
  package-lock.json
  package.json
Due: none

Update dependency apollo to v2.30.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency @apollo/client to v3.1.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/yup to v0.29.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency cypress to v4.12.0
  package-lock.json
  package.json
Due: none

Update dependency yup to v0.29.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency cypress to v4.12.1
  package-lock.json
  package.json
Due: none

Update dependency express-fileupload to v1.1.9 [SECURITY]
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency @types/jest to v26.0.9
  package-lock.json
  package.json
Due: none

Update dependency @apollo/client to v3.1.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @material-ui/docs to v4.0.0-beta.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/react to v16.9.45
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency jest to v26.3.0
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.9.46
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update cypress/base Docker tag to v14.7.0
  .circleci/config.yml
Due: none

Update dependency ts-jest to v26.2.0
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-react to v7.20.6
  package-lock.json
  package.json
Due: none

Update dependency jest to v26.4.0
  package-lock.json
  package.json
Due: none

Update dependency lodash to v4.17.20
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update postgres Docker tag to v10.14
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

Update dependency @types/yup to v0.29.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web
