Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Add "typescript.tsdk" option to VS Code settings
  .vscode/settings.json
Due: none

fix(deps): update apollo graphql packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Add build:clean script to all packages
  package.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Remove npx from npm scripts
  package.json
Due: none

Fix 'test:watch' npm script
  packages/api/jest.config.js
Due: api

Remove jest.workspace.js
  jest.workspace.js
  packages/api/jest.config.js
  packages/web/jest.config.js
Due: api, web

fix(deps): update apollo server to v2.3.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Refactor config and npm scripts (#144)
  .vscode/settings.json
  jest.workspace.js
  package.json
  packages/api/jest.config.js
  packages/api/package.json
  packages/web/jest.config.js
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

fix(deps): update dependency filepond to v3.8.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v16.8.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update cypress orb to v1.5.1
  .circleci/config.yml
Due: none

chore(deps): update dependency apollo to v2.4.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Add --ci and --runInBand to test:coverage script
  package.json
Due: none

Fix Jest out of memory running in CI (#146)
  package.json
Due: none

Fix 'styles' type in MyDocument.getInitialProps()
  packages/web/src/pages/_document.tsx
Due: web

chore(deps): update dependency @types/next to v7.0.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Move @types/* pkgs from root to web/package.json
  package-lock.json
  package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Move @types/faker to monorepo root
  package-lock.json
  package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update prisma to v1.25.7
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Move some @types/* dependencies around (#148)
  package-lock.json
  package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency prettier to v1.16.3
  package-lock.json
  package.json
Due: none

Fix formating in QuestionForm
  packages/web/src/components/Question/Form/index.tsx
Due: web

chore(deps): update dependency apollo to v2.4.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update graphql code generator to v0.16.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency prettier to v1.16.4
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @material-ui/core to v3.9.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint-plugin-jsx-a11y to v6.2.1
  package-lock.json
  package.json
Due: none

fix(deps): update dependency filepond to v3.9.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24
  package-lock.json
  package.json
Due: none

fix(deps): update dependency filepond-plugin-image-exif-orientation to v1.0.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update prismagraphql/prisma docker tag to v1.26
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

fix(deps): update dependency notistack to v0.4.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/next to v7.0.9
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.4.4
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update react monorepo to v16.8.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
