Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Update dependency @types/yup to v0.29.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency jss to v10.4.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/jest to v26.0.10
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7.7.0
  package-lock.json
  package.json
Due: none

Update dependency @next/bundle-analyzer to v9.5.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency apollo-server-express to v2.16.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency apollo-server-testing to v2.16.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency filepond-plugin-image-exif-orientation to v1.0.9
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency graphql-code-generator to v0.17.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency graphql-codegen-typescript-common to v0.18.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency graphql-codegen-typescript-resolvers to v0.18.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency graphql-codegen-typescript-server to v0.18.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency next to v9.5.2
  packages/web/package.json
Due: web

Update dependency prisma to v1.34.10
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency prisma-client-lib to v1.34.10
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update prismagraphql/prisma Docker tag to v1.34
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

Update dependency @types/node to v14
  package-lock.json
  package.json
Due: none

Update dependency @typescript-eslint/eslint-plugin to v3
  package-lock.json
  package.json
Due: none

Update cypress orb to v1.26.0
  .circleci/config.yml
Due: none

Update dependency jest to v26.4.1
  package-lock.json
  package.json
Due: none

Update dependency @types/yup to v0.29.6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update Apollo GraphQL packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Update dependency @types/react to v16.9.48
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency jest to v26.4.2
  package-lock.json
  package.json
Due: none

Update dependency prettier to v2.1.1
  package-lock.json
  package.json
Due: none

Update dependency ts-jest to v26.3.0
  package-lock.json
  package.json
Due: none

Update dependency node-fetch to v2.6.1 [SECURITY]
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update cypress/base Docker tag to v14.10.1
  .circleci/config.yml
Due: none

Update dependency cypress to v5
  package-lock.json
  package.json
Due: none

Update dependency @types/express to v4.17.9
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update cypress/base Docker tag to v14.15.0
  .circleci/config.yml
Due: none

Update codecov orb to v1.1.2
  .circleci/config.yml
Due: none

Update dependency @apollo/client to v3.2.7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/classnames to v2.2.11
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
