Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

chore(deps): update dependency jest to v24.6.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency react-testing-library to v6.0.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency express-fileupload to v1.1.4
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest to v24.7.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency graphql to v14.2.1
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency @types/react to v16.8.11
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v16.8.12
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.8.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency apollo to v2.8.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest to v24.7.1
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v1.6.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency react-testing-library to v6.1.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency cypress-testing-library to v2.4.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency react-testing-library to v6.1.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency typescript to v3.4.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-jest to v24.0.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency react-apollo to v2.5.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency webpack-bundle-analyzer to v3.2.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v16.8.13
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.8.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency nodemon to v1.18.11
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency lerna to v3.13.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typescript to v3.4.3
  package-lock.json
  package.json
Due: none

fix(deps): update dependency webpack-bundle-analyzer to v3.3.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update cypress orb to v1.6.0
  .circleci/config.yml
Due: none

fix(deps): update dependency webpack-bundle-analyzer to v3.3.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency webpack-bundle-analyzer to v3.3.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.8.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/react-dom to v16.8.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency prettier to v1.17.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-import to v2.17.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-import to v2.17.1
  package-lock.json
  package.json
Due: none

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
