Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Fix some typos in the comments
  packages/web/src/components/Exam/Details.test.tsx
  packages/web/src/utils/test/MockErrorProvider.tsx
  packages/web/src/utils/test/test-utils.tsx
Due: web

Migrate Apollo Client to React Hooks (#311)
  packages/web/next.d.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/City/AddDialog.tsx
  packages/web/src/components/City/DeleteItemButton.tsx
  packages/web/src/components/City/EditListItem.tsx
  packages/web/src/components/City/List.tsx
  packages/web/src/components/Exam/Details.test.tsx
  packages/web/src/components/Exam/DetailsConnector.tsx
  packages/web/src/components/Exam/List.test.tsx
  packages/web/src/components/Exam/ListConnector.tsx
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
  packages/web/src/components/OlympiadList/index.tsx
  packages/web/src/components/Question/CreateConnector.tsx
  packages/web/src/components/Question/CreateForm.tsx
  packages/web/src/components/Question/DeleteConnector.tsx
  packages/web/src/components/Question/Details.test.tsx
  packages/web/src/components/Question/DetailsConnector.tsx
  packages/web/src/components/Question/Form/TypesConnector.tsx
  packages/web/src/components/Question/List.tsx
  packages/web/src/components/Question/ListConnector.tsx
  packages/web/src/components/SchoolTable/SchoolAddDialog.tsx
  packages/web/src/components/SchoolTable/index.tsx
  packages/web/src/components/User/LoginConnector.tsx
  packages/web/src/components/User/LoginForm.tsx
  packages/web/src/components/User/SignUpForm.tsx
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/utils/initApollo.ts
  packages/web/src/utils/test/FakeDataProvider.tsx
  packages/web/src/utils/test/FakeLoadingProvider.tsx
  packages/web/src/utils/test/MockErrorProvider.tsx
  packages/web/src/utils/test/test-utils.tsx
  packages/web/src/utils/withData.tsx
Due: web

Update dependency graphql to v14.6.0
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Fix package-lock.json after removing apollo-link
  packages/web/package-lock.json
Due: web

Fix package-lock.json after removing apollo-link (#312)
  packages/web/package-lock.json
Due: web

Update dependency graphql to v14.6.0
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/Question/Details.test.tsx
  packages/web/src/utils/test/mockGraphql.ts
Due: web

Update dependency graphql to v14.6.0 (#314)
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/Question/Details.test.tsx
  packages/web/src/utils/test/mockGraphql.ts
Due: web

Pin dependencies
  packages/web/package.json
Due: web

Update dependency notistack to v0.9.17
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency mime-types to v2.1.27
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Replace InjectedNotistackProps w/ ProviderContext
  packages/web/src/components/City/DeleteItemButton.tsx
  packages/web/src/components/Question/CreateForm.tsx
  packages/web/src/components/Question/UpdateForm.tsx
  packages/web/src/components/SafeDeleteIconButton.tsx
Due: web

Update dependency ts-node to v8.10.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency next to v9 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @apollo/client to v3.0.0-rc.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency webpack-bundle-analyzer to v3.8.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update Next.js to version 9.1.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Move next.config.js out of "src" directory
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/next.config.js
Due: web

Move "packages/web/src/static" to "packages/web/public/static"
  packages/web/public/static/css/filepond-plugin-image-preview.css
  packages/web/public/static/css/filepond.css
  packages/web/public/static/favicon.ico
  packages/web/public/static/images/material-ui-logo.svg
Due: web

Autofix tsconfig.json after running "next"
  packages/web/next-env.d.ts
  packages/web/tsconfig.json
Due: web

Remove @zeit/next-typescript/babel from .babelrc
  packages/web/.babelrc
Due: web

Remove "prefetch" prop from usage of Link
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/pages/index.tsx
Due: web

Update dependency yup to v0.29.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Remove Container from pages/_app.tsx
  packages/web/src/pages/_app.tsx
Due: web

Disable option "isolatedModules" in tsconfig.json
  packages/web/tsconfig.json
Due: web

Update mui monorepo
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update prismagraphql/prisma Docker tag to v1.34
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

Update dependency jss to v10.3.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update postgres Docker tag to v10.13
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

Update dependency @types/react to v16.9.37
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update react monorepo to v16.13.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/react to v16.9.38
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency typescript to v3.9.5
  package-lock.json
  package.json
Due: none

Fix unavailable next/router in getDataFromTree()
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/admin/provas/detalhes.tsx
  packages/web/src/utils/withData.tsx
Due: web

Fix name clashes in resolvers-types.ts with a hack
  packages/api/codegen.yml
  packages/api/src/__generated__/resolvers-types.ts
Due: api

Update dependency @types/next to v8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Add --composite false to "typecheck:api" npm command
  package.json
Due: none

Suppress TS errors from mocked server context
  packages/api/src/__tests__/resolvers/__utils/mockContext.ts
  packages/api/src/__tests__/resolvers/question.ts
  packages/api/src/__tests__/resolvers/test.ts
Due: api

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
