Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

Update dependency @types/node to v10.17.46
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.14.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/react-dom to v16.9.10
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency copyfiles to v2.4.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency eslint to v7.14.0
  package-lock.json
  package.json
Due: none

Update mui monorepo to v4.11.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency eslint-config-prettier to v6.15.0
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-import to v2.22.1
  package-lock.json
  package.json
Due: none

Update dependency ts-node to v9
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency elliptic to 6.5.4 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency is-svg to 4.2.2 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency lodash to 4.17.21 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency property-expr to 2.0.3 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency ua-parser-js to 0.7.24 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency y18n to 4.0.1 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency eslint-plugin-jsx-a11y to v6.4.1
  package-lock.json
  package.json
Due: none

Update dependency ws to 7.4.6 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency ssri to 7.1.1 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency ws to 6.2.2 [SECURITY]
  packages/api/package-lock.json
Due: api

Update dependency trim-newlines to 3.0.1 [SECURITY]
  package-lock.json
Due: none

Update dependency glob-parent to 5.1.2 [SECURITY]
  package-lock.json
Due: none

Update dependency normalize-url to 4.5.1 [SECURITY]
  package-lock.json
  packages/api/package-lock.json
Due: api

Update dependency normalize-url to 4.5.1 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/express to v4.17.13
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency color-string to 1.5.5 [SECURITY]
  packages/web/package-lock.json
Due: web

Update dependency @types/mv to v2.1.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency tar to 4.4.15 [SECURITY]
  package-lock.json
Due: none

Update dependency path-parse to 1.0.7 [SECURITY]
  package-lock.json
  packages/api/package-lock.json
  packages/web/package-lock.json
Due: api, web

Update dependency tmpl to 1.0.5 [SECURITY]
  package-lock.json
Due: none

Update dependency @next/bundle-analyzer to v10.2.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency browserslist to 4.16.5 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency nth-check to 2.0.1 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency object-path to 0.11.8 [SECURITY]
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/jest to v26.0.24
  package-lock.json
  package.json
Due: none
