Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

fix(deps): update apollo server to v2.4.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @typescript-eslint/eslint-plugin to v1.4.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @typescript-eslint/parser to v1.4.0
  package-lock.json
  package.json
Due: none

chore(deps): update codecov orb to v1.0.4
  .circleci/config.yml
Due: none

chore(deps): update dependency @types/react to v16.8.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency jsonwebtoken to v8.5.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update prisma to v1.27.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update prismagraphql/prisma docker tag to v1.27
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

fix(deps): update react monorepo to v16.8.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react-jss to v8.6.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency typescript to v3.3.3333
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v10.12.27
  package-lock.json
  package.json
Due: none

fix(deps): update dependency notistack to v0.4.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @typescript-eslint/parser to v1.4.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @typescript-eslint/eslint-plugin to v1.4.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @typescript-eslint/parser to v1.4.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/recompose to v0.30.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24.0.9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint-config-prettier to v4.1.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.5.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency apollo to v2.5.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/yup to v0.26.10
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update apollo graphql packages
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.12.29
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint to v5.15.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/yup to v0.26.11
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
