Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

chore(deps): update dependency dotenv to v8
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest-dom to v3.2.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.10.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency apollo to v2.11.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update postgres docker tag to v10.8
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

chore(deps): update typescript-eslint monorepo to v1.8.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-prettier to v3.1.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.11.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/jest to v24.0.13
  package-lock.json
  package.json
Due: none

chore(deps): update dependency prettier to v1.17.1
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v1.9.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/nock to v10
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency lerna to v3.14.0
  package-lock.json
  package.json
Due: none

chore(deps): update prismagraphql/prisma docker tag to v1.33
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

chore(deps): update dependency lerna to v3.14.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-config-prettier to v4.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-fetch to v2.6.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency cookie to v0.4.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.12.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency cypress to v3.3.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency express to v4.17.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/node to v10.14.7
  package-lock.json
  package.json
Due: none

fix(deps): update dependency formik to v1.5.6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency formik to v1.5.7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update apollo graphql packages
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.12.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/react to v16.8.18
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency jest to v24.8.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jest-dom to v3.3.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency cypress to v3.3.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.12.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api
