Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

Add new properties to mockRouter in MockNextContext
  packages/web/src/utils/test/MockNextContext.tsx
Due: web

Update dependency next to v9.3.2 [SECURITY]
  packages/web/package-lock.json
Due: web

Update Next.js to version 9.4.4 (#325)
  packages/web/next.config.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/test/MockNextContext.tsx
Due: web

Pin dependencies
  packages/web/package.json
Due: web

Update dependency eslint-plugin-jsx-a11y to v6.3.1
  package-lock.json
  package.json
Due: none

Update dependency cross-env to v7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Replace classnames with clsx
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/AppContent.tsx
  packages/web/src/components/AppDrawer.tsx
  packages/web/src/components/AppDrawerNavItem.tsx
  packages/web/src/components/Exam/QuestionItem.tsx
  packages/web/src/components/Link.tsx
  packages/web/src/components/Question/ChoicesBox.tsx
  packages/web/src/components/SchoolTable/EnhancedTableToolbar.tsx
Due: web

Replace classnames with clsx (#327)
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/AppContent.tsx
  packages/web/src/components/AppDrawer.tsx
  packages/web/src/components/AppDrawerNavItem.tsx
  packages/web/src/components/Exam/QuestionItem.tsx
  packages/web/src/components/Link.tsx
  packages/web/src/components/Question/ChoicesBox.tsx
  packages/web/src/components/SchoolTable/EnhancedTableToolbar.tsx
Due: web

Update dependency eslint-plugin-react to v7.20.0
  package-lock.json
  package.json
Due: none

Pin dependency clsx to 1.1.1
  packages/web/package.json
Due: web

Update dependency eslint to v7
  package-lock.json
  package.json
Due: none

Refactor Link to use @material-ui/core/Link
  packages/web/src/components/AppDrawer.tsx
  packages/web/src/components/AppDrawerNavItem.tsx
  packages/web/src/components/AppFooter.tsx
  packages/web/src/components/Link.tsx
  packages/web/src/components/User/LoginForm.tsx
  packages/web/src/components/User/SignUpForm.tsx
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/pages/index.tsx
Due: web

Add types to Link
  packages/web/src/components/Link.tsx
Due: web

Prepend componentWillReceiveProps with "UNSAFE_"
  packages/web/src/components/LoadMoreButton.tsx
Due: web

Disable ESLint rule react/display-name for Link
  packages/web/src/components/Link.tsx
Due: web

Pass children prop explicitly to <a/> in NextComposed
  packages/web/src/components/Link.tsx
Due: web

Refactor Link to use @material-ui/core/Link (#330)
  packages/web/src/components/AppDrawer.tsx
  packages/web/src/components/AppDrawerNavItem.tsx
  packages/web/src/components/AppFooter.tsx
  packages/web/src/components/Link.tsx
  packages/web/src/components/User/LoginForm.tsx
  packages/web/src/components/User/SignUpForm.tsx
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/pages/index.tsx
Due: web

Remove graphql-import from web package
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Remove graphql-import from web package (#332)
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency graphql-import to v1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Fix ref forwarding in UserMenuAppBar
  packages/web/src/components/UserMenuAppBar.tsx
Due: web

Fix ref forwarding in AppDrawerNavItem
  packages/web/src/components/AppDrawerNavItem.tsx
Due: web

Refactor FAButton to fix ref forwarding
  packages/web/src/components/FAButton.tsx
  packages/web/src/components/Question/List.tsx
Due: web

Fix displayName for React.forwardRef() in Link
  packages/web/src/components/Link.tsx
Due: web

Fix ref forwarding for buttons with Link (#334)
  packages/web/src/components/AppDrawerNavItem.tsx
  packages/web/src/components/FAButton.tsx
  packages/web/src/components/Link.tsx
  packages/web/src/components/Question/List.tsx
  packages/web/src/components/UserMenuAppBar.tsx
Due: web

Fix ESLint issues in .eslintrc.js
  packages/web/.eslintrc.js
Due: web

Update dependency nodemon to v2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency prettier to v1.19.1
  package-lock.json
  package.json
Due: none

Update dependency prettier to v2
  package-lock.json
  package.json
Due: none

Update dependency apollo-server-express to v2.14.2 [SECURITY]
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency nock to v12
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency rimraf to v3
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Upgrade cypress/base image to v14.0.0 in CI config
  .circleci/config.yml
Due: none

Upgrade cypress/base image to v14.0.0 in CI config (#341)
  .circleci/config.yml
Due: none

Update dependency jest to v26
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v26
  package-lock.json
  package.json
Due: none

Update dependency ts-jest to v26
  package-lock.json
  package.json
Due: none

Update dependency @apollo/client to v3.0.0-rc.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web
