Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Update dependency cypress to v4.9.0
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7.3.1
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v26.0.2
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.9.41
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/jest to v26.0.3
  package-lock.json
  package.json
Due: none

Update cypress orb to v1.25.0
  .circleci/config.yml
Due: none

Update dependency apollo-server-testing to v2.15.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency apollo-server-express to v2.15.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency @apollo/client to v3.0.0-rc.9
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @apollo/client to v3.0.0-rc.10
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency eslint-plugin-import to v2.22.0
  package-lock.json
  package.json
Due: none

Update dependency @material-ui/core to v4.11.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency typescript to v3.9.6
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7.4.0
  package-lock.json
  package.json
Due: none

Update dependency graphql to v15
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Update dependency graphql to v14.7.0
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Update dependency @types/jest to v26.0.4
  package-lock.json
  package.json
Due: none

Update dependency @types/express to v4.17.7
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency cypress to v4.10.0
  package-lock.json
  package.json
Due: none

Update dependency lodash to v4.17.19
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @apollo/client to v3.0.0-rc.11
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @apollo/client to v3.0.0-rc.12
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/node to v10.17.27
  package-lock.json
  package.json
Due: none

Update dependency @apollo/react-ssr to v4.0.0-beta.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/react to v16.9.42
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency apollo to v2.29.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency ts-jest to v26.1.2
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.9.43
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @apollo/client to v3.0.0-rc.13
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update Apollo GraphQL packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Update dependency @apollo/client to v3.0.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency typescript to v3.9.7
  package-lock.json
  package.json
Due: none

Update dependency apollo to v2.30.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency @apollo/client to v3.0.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency ts-jest to v26.1.3
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7.5.0
  package-lock.json
  package.json
Due: none

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
