Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

chore(deps): update dependency react-testing-library to v5.6.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency lerna to v3.11.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v10.12.25
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jest to v24.0.1
  package-lock.json
  package.json
Due: none

fix(deps): update dependency webpack-bundle-analyzer to v3.0.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency react-testing-library to v5.8.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24.0.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/graphql to v14.0.6
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/jest to v24.0.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency cypress-testing-library to v2.3.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v10.12.26
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.5.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency module-alias to v2.2.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update apollo graphql packages
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/graphql to v14.0.7
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/jest to v24.0.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react-dom to v16.8.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react-jss to v8.6.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/recompose to v0.30.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency prop-types to v15.7.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update react monorepo to v16.8.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency lerna to v3.12.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jest to v24.0.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lerna to v3.13.0
  package-lock.json
  package.json
Due: none

chore(deps): update postgres docker tag to v10.7
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

fix(deps): update dependency mime-types to v2.1.22
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest-dom to v3.1.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.5.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update apollo server to v2.4.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update prisma to v1.26.6
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency eslint to v5.14.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react-dom to v16.8.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency formik to v1.5.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24.0.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v5.14.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-jest to v24
  package-lock.json
  package.json
Due: none

chore(deps): update dependency react-testing-library to v5.9.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web
