Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

chore(deps): update dependency apollo to v2.12.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency cypress-testing-library to v3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jest-dom to v3.4.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/cookie to v0.3.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency graphql to v14.3.1
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency eslint-plugin-import to v2.17.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency react-testing-library to v7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency ts-node to v8.1.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency express to v4.17.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency nodemon to v1.19.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency ts-node to v8.2.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update prismagraphql/prisma docker tag to v1.34
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

chore(deps): update dependency apollo to v2.12.5
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/classnames to v2.2.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v16.8.19
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update apollo graphql packages
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.14.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/nprogress to v0.2.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/yup to v0.26.14
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/express to v4.17.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update codecov orb to v1.0.5
  .circleci/config.yml
Due: none

chore(deps): update dependency prettier to v1.18.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency prettier to v1.18.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.13.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest-dom to v3.5.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update typescript-eslint monorepo to v1.10.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lerna to v3.15.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/yup to v0.26.15
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update typescript-eslint monorepo to v1.10.2
  package-lock.json
  package.json
Due: none
