Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

fix(deps): update dependency prisma-client-lib to v1.25.4
  api/package-lock.json
  api/package.json
Due: api

Set up Prisma package grouping
  renovate.json
Due: none

Automerge everything except major versions
  renovate.json
Due: none

Automerge without a PR whenever possible
  renovate.json
Due: none

Set automerge to false for Prisma group
  renovate.json
Due: none

Set up GraphQL Code Generator packages grouping
  renovate.json
Due: none

Set up FilePond packages grouping
  renovate.json
Due: none

chore(deps): update dependency @types/react to v16.7.22
  web/package-lock.json
  web/package.json
Due: web

fix(deps): update dependency react-filepond to v6
  web/package-lock.json
  web/package.json
Due: web

chore(deps): update dependency @types/next to v7.0.7
  web/package-lock.json
  web/package.json
Due: web

fix(deps): update dependency filepond to v3.7.7
  web/package-lock.json
  web/package.json
Due: web

chore(deps): update dependency @types/yup to v0.26.7
  package-lock.json
  package.json
Due: none

fix(deps): update dependency react-apollo to v2.4.1
  web/package-lock.json
  web/package.json
Due: web

chore(deps): update dependency @types/react-jss to v8.6.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v10.12.19
  package-lock.json
  package.json
Due: none

Reconfigure Renovate to be less noisy (#121)
  renovate.json
Due: none

chore(deps): update dependency apollo-server-testing to v2.3.2
  api/package-lock.json
  api/package.json
Due: api

chore(deps): update dependency graphql-codegen-typescript-resolvers to v0.16.0
  api/package-lock.json
  api/package.json
Due: api

fix(deps): update dependency apollo-server-express to v2.3.2
  api/package-lock.json
  api/package.json
Due: api

fix(deps): update dependency formik to v1.4.3
  web/package-lock.json
  web/package.json
Due: web

Set up Apollo Ser ver package grouping
  renovate.json
Due: none

chore(deps): update dependency @typescript-eslint/eslint-plugin to v1.1.1
  package-lock.json
  package.json
Due: none

Pass OliAppState directly to App<P, S> generic
  web/src/pages/_app.tsx
  web/src/utils/getPageContext.ts
Due: web

Pass OliAppState directly to App<P, S> generic (#135)
  web/src/pages/_app.tsx
  web/src/utils/getPageContext.ts
Due: web

chore(deps): update dependency @typescript-eslint/parser to v1.1.1
  package-lock.json
  package.json
Due: none

fix(deps): update apollo server to v2.3.2
  api/package-lock.json
  api/package.json
Due: api

chore(deps): update dependency eslint-plugin-import to v2.16.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency cypress to v3.1.5
  package-lock.json
  package.json
Due: none

Path conditions:
  api: any of: api/
  web: any of: web/
