Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Refactor render-prop pattern to hook in LoginConnector
  packages/web/src/components/User/LoginConnector.tsx
  packages/web/src/components/User/LoginForm.tsx
Due: web

Replace HoCs with hooks in SignUpForm
  packages/web/src/components/User/SignUpForm.tsx
Due: web

Replace HoC with hook in UserMenuAppBar
  packages/web/src/components/UserMenuAppBar.tsx
Due: web

Update cypress orb to v1.24.0
  .circleci/config.yml
Due: none

Update dependency @types/express to v4.17.6
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency @types/faker to v4.1.12
  package-lock.json
  package.json
Due: none

Replace HoCs with hooks in OlympiadList
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
  packages/web/src/components/OlympiadList/index.tsx
Due: web

Fix update cache function in OlympiadAddDialog
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
Due: web

Update dependency @types/jsonwebtoken to v8.5.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Replace HoCs with hooks in SchoolTable
  packages/web/src/components/SchoolTable/SchoolAddDialog.tsx
  packages/web/src/components/SchoolTable/index.tsx
Due: web

Remove @apollo/react-hoc dependency
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/initApollo.ts
  packages/web/src/utils/withData.tsx
Due: web

Update dependency @types/node to v10.17.26
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.9.36
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Replace <Query/> with useQuery() in QuestionListConnector
  packages/web/src/components/Question/ListConnector.tsx
Due: web

Replace <Mutation/> with useMutation() in QuestionCreateConnector
  packages/web/src/components/Question/CreateConnector.tsx
Due: web

Replace <Query/> with useQuery() in CityList
  packages/web/src/components/City/List.tsx
Due: web

Replace <Mutation/> with useMutation() in CityAddDialog
  packages/web/src/components/City/AddDialog.tsx
Due: web

Replace <Mutation/> with useMutation() in CityDeleteItemButtom
  packages/web/src/components/City/DeleteItemButton.tsx
Due: web

Replace <Mutation/> with useMutation() in CityEditListItem
  packages/web/src/components/City/EditListItem.tsx
Due: web

Replace <Query/> with useQuery() in ExamDetailsConnector
  packages/web/src/components/Exam/DetailsConnector.tsx
Due: web

Replace <Query/> with useQuery() in ExamListConnector
  packages/web/src/components/Exam/ListConnector.tsx
Due: web

Remove unused data useMutation() in CityAddDialog
  packages/web/src/components/City/AddDialog.tsx
Due: web

Replace <Mutation/> with useMutation() in QuestionDeleteConnector
  packages/web/src/components/Question/DeleteConnector.tsx
Due: web

Replace <Query/> with useQuery() in QuestionDetailsConnector
  packages/web/src/components/Question/DetailsConnector.tsx
Due: web

Replace <Mutation/> with useMutation() in QuestionDetailsConnector
  packages/web/src/components/Question/DetailsConnector.tsx
Due: web

Replace <Query/> with useQuery() in QuestionFormTypesConnector
  packages/web/src/components/Question/Form/TypesConnector.tsx
Due: web

Remove ApolloProviderLegacy from withData() HoC
  packages/web/src/utils/withData.tsx
Due: web

Update dependency @types/react-dom to v16.9.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Fix ApolloProvider in test utils
  packages/web/src/utils/test/FakeDataProvider.tsx
  packages/web/src/utils/test/FakeLoadingProvider.tsx
  packages/web/src/utils/test/MockErrorProvider.tsx
Due: web

Update dependency cookie to v0.4.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency copyfiles to v2.3.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency eslint-plugin-import to v2.21.2
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-prettier to v3.1.4
  package-lock.json
  package.json
Due: none

Update dependency graphql-tools to v4.0.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency lerna to v3.22.1
  package-lock.json
  package.json
Due: none

Remove @apollo/react-testing
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/test/FakeDataProvider.tsx
  packages/web/src/utils/test/test-utils.tsx
Due: web

Skip tests using MockedProvider for now
  packages/web/src/components/Exam/Details.test.tsx
  packages/web/src/components/Exam/List.test.tsx
  packages/web/src/components/Question/Details.test.tsx
  packages/web/src/utils/test/FakeDataProvider.tsx
  packages/web/src/utils/test/test-utils.tsx
Due: web

Upgrade @apollo/react-ssr to v4.0.0-beta.1
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/withData.tsx
Due: web

Fix ApolloClient import in next.d.ts
  packages/web/next.d.ts
Due: web

Remove @apollo/react-components dependency
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/withData.tsx
Due: web

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
