Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

chore(deps): update dependency ts-node to v8.1.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/recompose to v0.30.6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint-plugin-import to v2.17.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency mime-types to v2.1.23
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency lerna to v3.13.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typescript to v3.4.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.14
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.14.5
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v1.7.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency mime-types to v2.1.24
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency react-apollo to v2.5.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency typescript to v3.4.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lerna to v3.13.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-config-prettier to v4.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update cypress orb to v1.7.0
  .circleci/config.yml
Due: none

chore(deps): update dependency apollo to v2.9.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency cypress-testing-library to v3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency cypress-testing-library to v2.6.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency formik to v1.5.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency formik to v1.5.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency node-fetch to v2.4.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/node to v10.14.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jest to v24.0.12
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-fetch to v2.4.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/react to v16.8.15
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency node-fetch to v2.5.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency jest-dom to v3.1.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency nodemon to v1.19.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/yup to v0.26.13
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint-plugin-react to v7.13.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.16
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency jest-dom to v3.2.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency graphql to v14.3.0
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency jest-dom to v3.2.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.10.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/react to v16.8.17
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency apollo to v2.10.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api
