Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

Fix *Payload interfaces with a temporary hack
  packages/api/codegen.yml
  packages/api/src/__generated__/resolvers-types.ts
  packages/api/src/utils.ts
Due: api

Fix directories in VS Code workspace config
  olimat.code-workspace
Due: none

Add --composite false to "typecheck:web" npm command
  package.json
Due: none

Add tsconfig.build.json to avoid incremental build
  package.json
  packages/tsconfig.build.json
Due: none

Replace GlobalFetch with WindowOrWorkerGlobalScope
  packages/web/global.d.ts
Due: web

Fix root "build" command to use tsconfig.build.json
  package.json
Due: none

Revert "Update Next.js to version 9.1.4"
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update Next.js again after solving conflict...
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Fix next/router interface with nprogress in AppFrame
  packages/web/src/components/AppFrame.tsx
Due: web

Enable "isolatedModules" back in packages/web/tsconfig.json
  packages/web/tsconfig.json
Due: web

Replace withRouter() with useRouter()
  packages/web/src/components/Exam/Details.tsx
  packages/web/src/components/Question/Details.tsx
  packages/web/src/components/Question/UpdateForm.tsx
Due: web

Fix FakeLoadingProvider not being a module
  packages/web/src/utils/test/FakeLoadingProvider.tsx
Due: web

Replace NextFunctionComponent with NextPage type
  packages/web/src/pages/criar_conta.tsx
  packages/web/src/pages/login.tsx
Due: web

Replace NextContext to NextPageContext in next.d.ts
  packages/web/next.d.ts
Due: web

Fix mockRouter types in MockNextContext
  packages/web/src/utils/test/MockNextContext.tsx
Due: web

Add @olimat/api back to package.json
  packages/web/package.json
Due: web

Migrate MockNextContext to new context API
  packages/web/src/components/Exam/Details.test.tsx
  packages/web/src/components/Question/Details.test.tsx
  packages/web/src/utils/test/MockNextContext.tsx
Due: web

Remove `as any` from MockNextContext router prop
  packages/web/src/components/Question/Details.test.tsx
Due: web

Add comment about Filepond's CSS in Next.js 9.0
  packages/web/src/components/Question/Form/FilePondField.tsx
Due: web

Disable 'composite' & 'declaration' in web/tsconfig.json
  package.json
  packages/web/tsconfig.json
Due: web

Reword comment about isolatedModules in web/tsconfig.json
  packages/web/tsconfig.json
Due: web

Add `ls` to check node_modules/@olimat/api on CI
  .circleci/config.yml
Due: none

Replace tabs with spaces in .circleci/config.yml
  .circleci/config.yml
Due: none

Add more `ls` command to CI config
  .circleci/config.yml
Due: none

Fix path in `ls` in CI config
  .circleci/config.yml
Due: none

Separate building of api and web apps
  .circleci/config.yml
  packages/api/package.json
Due: api

Fix CI config to build api before web app
  .circleci/config.yml
Due: none

Change indent_style to spaces for yaml files and package.json
  .editorconfig
  packages/web/package.json
Due: web

Remove "env.test.presets" from .babelrc
  packages/web/.babelrc
Due: web

Replace withRouter() with useRouter() in Link
  packages/web/src/components/Link.tsx
Due: web

Remove `ls` and `pwd` commands from CI config
  .circleci/config.yml
Due: none

Fix next/router mock in ExamList test
  packages/web/src/components/Exam/List.test.tsx
Due: web

Update dependency Next.js to v9.1.4 (#315)
  .circleci/config.yml
  .editorconfig
  package.json
  packages/api/package.json
  packages/web/.babelrc
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/next.d.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/public/static/css/filepond-plugin-image-preview.css
  packages/web/public/static/css/filepond.css
  packages/web/public/static/favicon.ico
  packages/web/public/static/images/material-ui-logo.svg
  packages/web/src/components/AppFrame.tsx
  packages/web/src/components/Exam/Details.test.tsx
  packages/web/src/components/Exam/Details.tsx
  packages/web/src/components/Exam/List.test.tsx
  packages/web/src/components/Link.tsx
  packages/web/src/components/Question/Details.test.tsx
  packages/web/src/components/Question/Details.tsx
  packages/web/src/components/Question/Form/FilePondField.tsx
  packages/web/src/components/Question/UpdateForm.tsx
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/next.config.js
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/admin/provas/detalhes.tsx
  packages/web/src/pages/criar_conta.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/utils/test/FakeLoadingProvider.tsx
  packages/web/src/utils/test/MockNextContext.tsx
  packages/web/src/utils/withData.tsx
  packages/web/tsconfig.json
Due: api, web

Update dependency @apollo/client to v3.0.0-rc.6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency cypress to v4
  package-lock.json
  package.json
Due: none

Update Apollo Integration using with-apollo-auth example
  packages/web/src/pages/_app.tsx
  packages/web/src/utils/apollo.tsx
  packages/web/src/utils/helpers.ts
  packages/web/src/utils/initApollo.ts
  packages/web/src/utils/withData.tsx
Due: web

Add link to comment in _app.tsx
  packages/web/src/pages/_app.tsx
Due: web

Fix fetching apolloState on SSR (#323)
  packages/web/src/pages/_app.tsx
  packages/web/src/utils/apollo.tsx
  packages/web/src/utils/helpers.ts
  packages/web/src/utils/initApollo.ts
  packages/web/src/utils/withData.tsx
Due: web

Replace webpack-bundle-analyzer with @next/bundle-analyzer
  packages/web/next.config.js
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update Next.js to version 9.4.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web
