Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Set up Codecov orb in CircleCI config
  .circleci/config.yml
  package.json
Due: none

Remove codecov npm dependency
  package-lock.json
  package.json
Due: none

chore(ci): Set up Codecov orb in CI config (#113)
  .circleci/config.yml
  package-lock.json
  package.json
Due: none

Add Query interface to WithRouterProps
  web/src/components/Exam/Details.tsx
  web/src/components/Question/Details.tsx
Due: web

chore(deps): update dependency jest-dom to v3.0.1
  web/package-lock.json
  web/package.json
Due: web

fix(deps): update dependency @material-ui/core to v3.9.1
  web/package-lock.json
  web/package.json
Due: web

chore(deps): update dependency @types/react to v16.7.21
  web/package-lock.json
  web/package.json
Due: web

refactor(web) Add Query interface to router (#117)
  web/src/components/Exam/Details.tsx
  web/src/components/Question/Details.tsx
Due: web

Set up ESLint with @typescript-eslint packages
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  web/.eslintrc.js
Due: web

Disable no-var-requires ESLint rule in JS config file
  web/src/next.config.js
Due: web

Rename api/jest.setup.js to api/jest.setup.ts
  api/jest.config.js
  api/jest.setup.js
  api/jest.setup.ts
Due: api

Declare reusable QuestionChoice interface
  web/src/components/Question/ChoicesBox.tsx
  web/src/components/Question/DetailsConnector.tsx
Due: web

Remove parseOptions.ecmaFeatures.jsx in ESLint conf
  web/.eslintrc.js
Due: web

Replace PropTypes with interface in FAButton
  web/src/components/FAButton.tsx
Due: web

Replace PropTypes with interface in OlympiadAddDialog
  web/src/components/OlympiadList/OlympiadAddDialog.tsx
  web/src/components/OlympiadList/index.tsx
Due: web

Remove BreadcrumbBox component from code base
  web/src/components/Question/BreadcrumbBox.tsx
Due: web

Refactor FakePrefetch in MockNextContext
  web/src/utils/test/MockNextContext.tsx
Due: web

Make onClick optional in FAButtonProps
  web/src/components/FAButton.tsx
Due: web

Fix 'lint:check' npm script to use ESLint
  package.json
Due: none

Run 'lint:check' npm script on CI pipeline
  .circleci/config.yml
Due: none

Set up 'react/jsx-handler-names' rule in ESLint
  web/.eslintrc.js
  web/src/components/User/LoginConnector.tsx
  web/src/components/User/SignUpForm.tsx
  web/src/components/UserMenuAppBar.tsx
Due: web

Set up eslint-plugin-import
  .eslintrc.js
  package-lock.json
  package.json
Due: none

Fix import order with 'eslint --fix'
  api/jest.setup.ts
  api/src/__tests__/__utils.ts
  api/src/filepond.ts
  api/src/index.ts
  api/src/resolvers/Mutation/questions.ts
  api/src/resolvers/Query.ts
  web/src/utils/helpers.ts
  web/src/utils/test/FakeDataProvider.tsx
Due: api, web

Set up 'import/no-extraneous-dependencies' rule
  .eslintrc.js
Due: none

Remove 'jsx' from eslint command in npm script
  package.json
Due: none

Set up no-param-reassign rule for the code base
  .eslintrc.js
  web/src/components/AppDrawer.tsx
Due: web

Remove TSLint related config and packages
  api/tslint.json
  olimat.code-workspace
  package-lock.json
  package.json
  tslint.json
  web/src/components/PageContext.tsx
  web/src/components/Question/CancelDialog.test.tsx
  web/src/utils/test/MockNextContext.tsx
  web/tslint.json
Due: api, web

Set up eslint-plugin-jsx-a11y: accessibility rules
  package-lock.json
  package.json
  web/.eslintrc.js
Due: web

Remove autoFocus prop from components
  web/src/components/City/AddDialog.tsx
  web/src/components/City/DeleteItemButton.tsx
  web/src/components/DeleteWarningDialog.tsx
  web/src/components/OlympiadList/OlympiadAddDialog.tsx
  web/src/components/Question/CancelDialog.tsx
  web/src/components/Question/Form/index.tsx
  web/src/components/SchoolTable/SchoolAddDialog.tsx
Due: web

Add handleKeyPress to Link as keyboard fallback
  web/src/components/Link.tsx
Due: web

Fix wrongly commented Link.defaultProps
  web/src/components/Link.tsx
Due: web

fix(deps): update dependency prisma-client-lib to v1.25.4
  api/package-lock.json
  api/package.json
Due: api

chore(deps): update dependency prisma to v1.25.4
  api/package-lock.json
  api/package.json
Due: api

Add code formating settings to VS Code workspace
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Add JSHint and Beautify to unwantedRecommendations
  .vscode/extensions.json
Due: none

Path conditions:
  api: any of: api/
  web: any of: web/
