Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

Update dependency @types/yup to v0.26.32
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency eslint-plugin-import to v2.20.2
  package-lock.json
  package.json
Due: none

Update cypress orb to v1.19.1
  .circleci/config.yml
Due: none

Update dependency @types/classnames to v2.2.10
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency @types/express to v4.17.3
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update dependency @types/faker to v4.1.11
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.9.27
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency next to v8.1.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency apollo to v2.26.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Update Apollo GraphQL packages
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Update dependency eslint-config-prettier to v6
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v25
  package-lock.json
  package.json
Due: none

Regenerate Prisma Client types
  packages/api/package.json
  packages/api/src/__generated__/prisma-client/index.ts
Due: api

Regenerate Prisma Client types (#305)
  packages/api/package.json
  packages/api/src/__generated__/prisma-client/index.ts
Due: api

Fix @ts-ignore in AppDrawer
  packages/web/src/components/AppDrawer.tsx
Due: web

Remove unnecessary @ts-ignore for Link
  packages/web/src/components/AppDrawerNavItem.tsx
  packages/web/src/components/UserMenuAppBar.tsx
Due: web

Install new packages for Apollo Client 3.0
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/Question/ListConnector.tsx
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/utils/initApollo.ts
  packages/web/src/utils/withData.tsx
Due: web

Migrate LoginForm to use @apollo/client
  packages/web/src/components/User/LoginConnector.tsx
  packages/web/src/components/User/LoginForm.tsx
Due: web

Migrate SignUpForm to use @apollo/client
  packages/web/src/components/User/SignUpForm.tsx
Due: web

Migrate the rest of the components to use @apollo/client
  packages/web/src/components/City/AddDialog.tsx
  packages/web/src/components/City/DeleteItemButton.tsx
  packages/web/src/components/City/EditListItem.tsx
  packages/web/src/components/City/List.tsx
  packages/web/src/components/Exam/DetailsConnector.tsx
  packages/web/src/components/Exam/ListConnector.tsx
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
  packages/web/src/components/OlympiadList/index.tsx
  packages/web/src/components/Question/CreateConnector.tsx
  packages/web/src/components/Question/DeleteConnector.tsx
  packages/web/src/components/Question/DetailsConnector.tsx
  packages/web/src/components/Question/Form/ActionBox.tsx
  packages/web/src/components/Question/Form/TypesConnector.tsx
  packages/web/src/components/SchoolTable/SchoolAddDialog.tsx
  packages/web/src/components/SchoolTable/index.tsx
Due: web

Fix types for HoC with compose()
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
  packages/web/src/components/Question/Form/ActionBox.test.tsx
  packages/web/src/components/Question/Form/ActionBox.tsx
  packages/web/src/components/Question/Form/index.tsx
  packages/web/src/components/SchoolTable/SchoolAddDialog.tsx
Due: web

Update testing setup
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/test/FakeDataProvider.tsx
  packages/web/src/utils/test/FakeLoadingProvider.tsx
  packages/web/src/utils/test/MockErrorProvider.tsx
  packages/web/src/utils/test/test-utils.tsx
Due: web

Remove old apollo-link* packages
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Refactor code to import gql`` from @apollo/client
  packages/web/package.json
  packages/web/src/components/City/AddDialog.tsx
  packages/web/src/components/City/DeleteItemButton.tsx
  packages/web/src/components/City/EditListItem.tsx
  packages/web/src/components/City/List.tsx
  packages/web/src/components/Exam/DetailsConnector.tsx
  packages/web/src/components/Exam/ListConnector.tsx
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
  packages/web/src/components/OlympiadList/index.tsx
  packages/web/src/components/Question/CreateConnector.tsx
  packages/web/src/components/Question/DeleteConnector.tsx
  packages/web/src/components/Question/DetailsConnector.tsx
  packages/web/src/components/Question/Form/TypesConnector.tsx
  packages/web/src/components/Question/ListConnector.tsx
  packages/web/src/components/SchoolTable/SchoolAddDialog.tsx
  packages/web/src/components/SchoolTable/index.tsx
  packages/web/src/components/User/LoginConnector.tsx
  packages/web/src/components/User/SignUpForm.tsx
  packages/web/src/utils/checkLoggedIn.ts
Due: web

Fix ApolloClient import in LoginConnector & SignUpForm
  packages/web/src/components/User/LoginConnector.tsx
  packages/web/src/components/User/SignUpForm.tsx
Due: web

Remove reac-apollo dependency
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/utils/test/FakeDataProvider.tsx
Due: web

Upgrade Apollo Client to v3.0 (#310)
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/City/AddDialog.tsx
  packages/web/src/components/City/DeleteItemButton.tsx
  packages/web/src/components/City/EditListItem.tsx
  packages/web/src/components/City/List.tsx
  packages/web/src/components/Exam/DetailsConnector.tsx
  packages/web/src/components/Exam/ListConnector.tsx
  packages/web/src/components/OlympiadList/OlympiadAddDialog.tsx
  packages/web/src/components/OlympiadList/index.tsx
  packages/web/src/components/Question/CreateConnector.tsx
  packages/web/src/components/Question/DeleteConnector.tsx
  packages/web/src/components/Question/DetailsConnector.tsx
  packages/web/src/components/Question/Form/ActionBox.test.tsx
  packages/web/src/components/Question/Form/ActionBox.tsx
  packages/web/src/components/Question/Form/TypesConnector.tsx
  packages/web/src/components/Question/Form/index.tsx
  packages/web/src/components/Question/ListConnector.tsx
  packages/web/src/components/SchoolTable/SchoolAddDialog.tsx
  packages/web/src/components/SchoolTable/index.tsx
  packages/web/src/components/User/LoginConnector.tsx
  packages/web/src/components/User/LoginForm.tsx
  packages/web/src/components/User/SignUpForm.tsx
  packages/web/src/components/UserMenuAppBar.tsx
  packages/web/src/utils/checkLoggedIn.ts
  packages/web/src/utils/initApollo.ts
  packages/web/src/utils/test/FakeDataProvider.tsx
  packages/web/src/utils/test/FakeLoadingProvider.tsx
  packages/web/src/utils/test/MockErrorProvider.tsx
  packages/web/src/utils/test/test-utils.tsx
  packages/web/src/utils/withData.tsx
Due: web

Update Apollo GraphQL packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

Pin dependencies
  packages/web/package.json
Due: web

Migrate components from class to function
  packages/web/src/components/City/List.tsx
  packages/web/src/components/Question/CreateForm.tsx
  packages/web/src/components/Question/List.tsx
  packages/web/src/components/SchoolTable/index.tsx
  packages/web/src/components/User/LoginForm.tsx
  packages/web/src/components/User/SignUpForm.tsx
  packages/web/src/components/UserMenuAppBar.tsx
Due: web

Update codecov orb to v1.1.0
  .circleci/config.yml
Due: none

Replace HoC with hook in LoginConnector
  packages/web/src/components/User/LoginConnector.tsx
Due: web

Replace withApollo() HoC with hook in LoginConnector
  packages/web/src/components/User/LoginConnector.tsx
Due: web
