Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

fix(deps): update apollo graphql packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency apollo to v2.6.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update apollo server to v2.4.8
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency jsonwebtoken to v8.5.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Regenerate Prisma files
  packages/api/src/__generated__/prisma-client/index.ts
  packages/api/src/__generated__/prisma-client/prisma-schema.ts
  packages/api/src/__generated__/prisma.graphql
Due: api

Regenerate Prisma files (#197)
  packages/api/src/__generated__/prisma-client/index.ts
  packages/api/src/__generated__/prisma-client/prisma-schema.ts
  packages/api/src/__generated__/prisma.graphql
Due: api

chore(deps): update dependency eslint to v5.15.3
  package-lock.json
  package.json
Due: none

chore(deps): update prisma to v1.28.5
  packages/api/package-lock.json
  packages/api/package.json
Due: api

Regenerate Prisma files
  packages/api/src/__generated__/prisma-client/index.ts
  packages/api/src/__generated__/prisma-client/prisma-schema.ts
Due: api

chore(deps): update dependency typescript to v3.3.4000
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react-dom to v16.8.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency react-testing-library to v6.0.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update typescript-eslint monorepo to v1.5.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency react-testing-library to v6.0.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Dockerize the GraphQL API app (backend)
  .dockerignore
  docker-compose.yml
  packages/api/.env
  packages/api/Dockerfile
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/tsconfig.json
Due: api

Dockerize the React app (frontend)
  .dockerignore
  docker-compose.yml
  packages/web/Dockerfile
  packages/web/src/utils/initApollo.ts
Due: web

chore(deps): update dependency @types/node to v10.14.2
  package-lock.json
  package.json
Due: none

fix(deps): update react monorepo to v16.8.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.14.3
  package-lock.json
  package.json
Due: none

fix(deps): update dependency react-apollo to v2.5.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency react-testing-library to v6.0.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.14.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.10
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update react monorepo to v16.8.6
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency graphql to v14.2.0
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

fix(deps): update dependency @material-ui/core to v3.9.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency react-lines-ellipsis to v0.14.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency typescript to v3.4.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v5.16.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/graphql to v14.2.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency ts-jest to v24.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.7.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency formik to v1.5.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
