Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

chore(deps): update dependency @types/node to v10.14.9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.13.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/yup to v0.26.16
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24.0.14
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typescript to v3.5.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.8.20
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/jest to v24.0.15
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/graphql to v14.2.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency ts-node to v8.3.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update apollo graphql packages
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

fix(deps): update dependency apollo-client to v2.6.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v16.8.21
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react to v16.8.22
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/yup to v0.26.17
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency graphql-tools to v4.0.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency react-apollo to v2.5.7
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/node to v10.14.10
  package-lock.json
  package.json
Due: none

chore(deps): update postgres docker tag to v10.9
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

fix(deps): update dependency react-apollo to v2.5.8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint-plugin-react to v7.14.0
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v1.11.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-react to v7.14.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/graphql to v14.2.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency eslint-plugin-react to v7.14.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-config-prettier to v5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.14.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update apollo server to v2.6.6
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency apollo to v2.14.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update apollo server to v2.6.7
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency @types/yup to v0.26.18
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency graphql to v14.4.0
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency apollo to v2.15.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency cypress to v3.3.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency graphql to v14.4.1
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency eslint-plugin-jsx-a11y to v6.2.2
  package-lock.json
  package.json
Due: none

Path conditions:
  api: any of: packages/api/
  web: any of: packages/web/
