Repository iquabius/olimat: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags: api
        target: 30%
      web:
        flags: api
        target: 50%
flags:
  api:
    paths:
      - packages/api/
    assume: true
  web:
    paths:
      - packages/web/
    assume: true

chore(deps): update dependency @types/node to v10.17.14
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v16.9.19
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update dependency @types/react-dom to v16.9.5
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update apollo server to v2.10.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency copyfiles to v2.2.0
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update cypress orb to v1.15.0
  .circleci/config.yml
Due: none

chore(deps): update dependency @types/node to v10.17.15
  package-lock.json
  package.json
Due: none

chore(deps): update dependency apollo to v2.22.1
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update dependency cypress to v3.8.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lerna to v3.20.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rimraf to v2.7.1
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: api, web

chore(deps): update dependency ts-jest to v24.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v8.6.2
  packages/api/package-lock.json
  packages/api/package.json
Due: api

chore(deps): update prismagraphql/prisma docker tag to v1.34
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

chore(deps): update postgres docker tag to v10.12
  .circleci/config.yml
  packages/api/docker-compose.yml
Due: api

fix(deps): update dependency @material-ui/core to v3.9.4
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency mime-types to v2.1.26
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency shortid to v2.2.15
  packages/api/package-lock.json
  packages/api/package.json
Due: api

fix(deps): update dependency webpack-bundle-analyzer to v3.6.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update dependency yup to v0.28.1
  packages/web/package-lock.json
  packages/web/package.json
Due: web

fix(deps): update react monorepo to v16.12.0
  packages/web/package-lock.json
  packages/web/package.json
Due: web

chore(deps): update nextjs monorepo
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Ativa teste da busca de detalhes da cidade
  packages/api/src/__tests__/__snapshots__/integration.ts.snap
  packages/api/src/__tests__/integration.ts
Due: api

Redireciona porta do Postgres p/ o localhost
  packages/api/docker-compose.yml
Due: api

Atualiza autofix do ESLint na configuração do VS Code
  .vscode/settings.json
Due: none

Desativa eslint.validate porque parece vir por padrão
  .vscode/settings.json
Due: none

Remove espaço em branco no fim da linha gerada pelo prisma
  packages/api/src/__generated__/prisma-client/index.ts
Due: api

Desativa gravação do Cypress no CircleCI
  .circleci/config.yml
Due: none

Desativa gravação do Cypress no CircleCI (#284)
  .circleci/config.yml
Due: none

Ativa teste da busca de detalhes da cidade (#281)
  packages/api/src/__tests__/__snapshots__/integration.ts.snap
  packages/api/src/__tests__/integration.ts
Due: api

Redireciona porta do Postgres p/ o localhost (#282)
  packages/api/docker-compose.yml
Due: api

Atualiza autofix do ESLint na configuração do VS Code (#283)
  .vscode/settings.json
  packages/api/src/__generated__/prisma-client/index.ts
Due: api

Desatualiza Next.js do 9 p/ o 8
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Remove @types/next
  packages/web/package.json
Due: web

Update mui monorepo
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Atualiza Next.js p/ v8.0.3
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Remove router de getInitialProps em _app.tsx
  packages/web/src/pages/_app.tsx
Due: web

Atualiza Next.js p/ v8.0.3 (#285)
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/pages/_app.tsx
Due: web

Atualiza @material-ui/core p/ v4.1.2
  packages/web/package-lock.json
  packages/web/package.json
Due: web

Remove react-jss
  packages/web/package-lock.json
  packages/web/package.json
Due: web
